<header
  class="p-2 min-h-[3rem] bg-gray-200 justify-between flex flex-rows items-center dark:text-white dark:bg-top-bar fixed top-0 w-full"
>
  <!-- //left section of mobile viewport -->
  <div class="cursor-pointer relative flex flex-row gap-1">
    <a href="#home" class="relative flex flex-row gap-1">
      <div class="hidden sm:block box-border">
        <span class="material-symbols-outlined"> home </span>
      </div>
      <p
        class="hidden sm:block text-[1rem] cursor-pointer relative transition-all duration-300 bg-transparent hover:bg-gradient-to-r hover:from-purple-500 hover:to-red-500 hover:bg-clip-text hover:text-transparent hover:backdrop-blur-md hover:bg-white/10"
      >
        Home
      </p>
    </a>

    <div
      (click)="isShowDropDown = true"
      *ngIf="!isShowDropDown"
      class="sm:hidden block"
    >
      <span class="material-symbols-outlined"> menu </span>
    </div>
    <div
      (click)="isShowDropDown = false"
      *ngIf="isShowDropDown"
      class="sm:hidden block"
    >
      <span class="material-symbols-outlined"> close </span>
    </div>
    <div
      class="absolute sm:hidden mt-[3rem]"
      [@fadeInOut]
      *ngIf="isShowDropDown"
    >
      <app-dropdown></app-dropdown>
    </div>
  </div>

  <!-- //each section  -->
  <section class="ml-auto flex-row gap-4 sm:flex w-fit hidden">
    <a href="#experience">
      <div
        class="text-[.8rem] cursor-pointer relative transition-all duration-300 bg-transparent hover:bg-gradient-to-r hover:from-purple-500 hover:to-red-500 hover:bg-clip-text hover:text-transparent hover:backdrop-blur-md hover:bg-white/10"
      >
        {{ "topbar.experience" | translate }}
      </div>
    </a>
    <a href="#programm">
      <div
        class="text-[.8rem] cursor-pointer relative transition-all duration-300 bg-transparent hover:bg-gradient-to-r hover:from-purple-500 hover:to-red-500 hover:bg-clip-text hover:text-transparent hover:backdrop-blur-md hover:bg-white/10"
      >
        {{ "topbar.programskill" | translate }}
      </div>
    </a>
    <a href="#coding-bg">
      <div
        class="text-[.8rem] cursor-pointer relative transition-all duration-300 bg-transparent hover:bg-gradient-to-r hover:from-purple-500 hover:to-red-500 hover:bg-clip-text hover:text-transparent hover:backdrop-blur-md hover:bg-white/10"
      >
        {{ "topbar.abouts" | translate }}
      </div>
    </a>
    <a href="#contacts">
      <div
        class="text-[.8rem] cursor-pointer relative transition-all duration-300 bg-transparent hover:bg-gradient-to-r hover:from-purple-500 hover:to-red-500 hover:bg-clip-text hover:text-transparent hover:backdrop-blur-md hover:bg-white/10"
      >
        {{ "topbar.contacts" | translate }}
      </div>
    </a>
  </section>

  <!-- //right section of mobile viewport -->
  <div class="flex flex-row gap-3 ml-6">
    <div
      class="relative cursor-pointer"
      (click)="isShowDropDownLang = !isShowDropDownLang"
    >
      <span class="material-symbols-outlined"> language </span>
      <div
        [@fadeInOut]
        *ngIf="isShowDropDownLang"
        class="absolute rounded-md mt-3 mr-3 -translate-x-6"
      >
        <p
          (click)="changeLanguage('kh')"
          class="p-2 rounded-t-lg px-4 bg-gray-500 hover:bg-gray-400 cursor-pointer"
        >
          Khmer
        </p>
        <p
          (click)="changeLanguage('en')"
          class="p-2 rounded-b-lg px-4 bg-gray-500 hover:bg-gray-400 cursor-pointer"
        >
          English
        </p>
      </div>
    </div>
    <div (click)="toggleTheme()" class="cursor-pointer">
      <img
        class="h-[24px] aspect-auto"
        [src]="
          ThemeMode === 'dark' ? 'assets/img/moon.png' : 'assets/img/sun.png'
        "
        alt="not found img"
      />
    </div>
  </div>
</header>
<main id="home" class="dark:bg-con bg-white p-2 mt-[3rem] dark:text-white">
  <!-- ///indrodution -->
  <section class="flex flex-row gap-5" id="coding-bg">
    <div class="h-[20rem] w-[20rem] flex-1/2 flex items-center">
      <h1
        appRunningText
        [loop]="true"
        [speed]="100"
        [text]="runningText"
        class="flex-1/2 leading-[4rem] text-center font-bold bg-gradient-to-r text-4xl from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent"
      ></h1>
    </div>
    <!-- <h1>🚀🔥</h1> -->
    <div
      class="min-w-[8rem] max-w-[20rem] p-4 flex-1/2 aspect-auto flex items-center justify-center"
    >
      <img src="assets/img/rocket.gif" alt="img is not found" />
    </div>
  </section>
  <!-- //experience  -->
  <section>
    <div class="flex flex-row gap-2">
      <img src="assets/img/code.png" class="w-[2rem] aspect-auto" alt="" />
      <h1 class="text-2xl">{{ "app.abouttitle" | translate }}</h1>
    </div>

    <p i18n class="p-7 text-[.8rem]">
      {{ "app.aboutdes" | translate }}
    </p>
  </section>

  <!-- //programm & framework skills  -->
  <section id="programm">
    <div class="flex flex-row gap-2">
      <img
        src="assets/img/coding-language.png"
        class="w-[2rem] aspect-auto"
        alt=""
        sizes=""
      />
      <h1 class="text-2xl">{{ "app.programskill" | translate }}</h1>
    </div>
    <h4 class="p-4 ml-10">Specialize in language</h4>
    <div
      class="grid grid-cols-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-5 p-6"
    >
      @for (item of languageskills; track $index) {
      <div class="flex gap-1 flex-col items-center p-3">
        <img
          class="w-[6rem] hover:-translate-y-2 duration-300"
          [src]="item.logo"
          [alt]="item.name"
        />
        <p>{{ item.name }}</p>
      </div>
      }
    </div>
    <h4 class="p-4 ml-10">Specialize in framework</h4>

    <div
      class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-5 p-6"
    >
      @for (item of frameworkskills; track $index) {
      <div class="flex gap-1 flex-col items-center p-6">
        <img
          class="w-[6rem] hover:-translate-y-2 duration-300"
          [src]="item.logo"
          [alt]="item.name"
        />
        <p>{{ item.name }}</p>
      </div>
      }
    </div>
    <h4 class="p-4 ml-10">experienced with tools</h4>
    <div
      class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-1 p-6"
    >
      @for (item of toolskills; track $index) {
      <div class="flex gap-1 flex-col items-center p-2 relative">
        <img
          class="w-[6rem] hover:-translate-y-2 duration-300 z-10"
          [src]="item.logo"
          [alt]="item.name"
        />
        <p class="z-10">{{ item.name }}</p>
      </div>
      }
    </div>
  </section>

  <!-- //personal projects -->
  <section class="h-auto" id="experience">
    <div class="flex flex-row gap-2">
      <img
        class="w-[1.8rem] h-[1.8rem] aspect-auto"
        src="assets/img/project.png"
        alt=""
      />
      <h1 class="text-2xl">{{ "app.personalproject" | translate }}</h1>
    </div>

    <div class="p-12 sm:p-6">
      <app-card [src]="'assets/img/chat.png'">
        <div class="title">
          <a href="https://wchat.online" target="_blank">wchat.online</a>
        </div>
        <div class="description">
          <p class="text-[.8rem]">
            {{ "app.wchatdes" | translate }}
          </p>
        </div>
      </app-card>
    </div>
  </section>

  <!-- contact -->
  <section #contact id="contacts" class="flex flex-col gap-5 p-2">
    <h1 class="text-2xl">{{ "app.contactstitle" | translate }}</h1>
    <p>
      {{ "app.contactdes" | translate }}
    </p>

    <div class="flex flex-row gap-1">
      <span class="material-symbols-outlined"> mail </span>
      <p>rydaluch36&#64;gmail.com</p>
    </div>
    <div class="flex flex-row gap-1">
      <span class="material-symbols-outlined"> call </span>
      <p>+855 99 532 877</p>
    </div>
    <div class="flex flex-row gap-2">
      <a
        href="https://www.facebook.com/profile.php?id=100077168625157"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/img/facebook.png" alt="" class="h-[2rem]" />
      </a>
      <a href="http://t.me/RyDaluch" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/telegram.png" alt="" class="h-[2rem]" />
      </a>

      <a
        href=" 
      https://twitter.com/luch_sary

      "
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/img/twitter.png" alt="" class="h-[2rem]" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/instagram.png" alt="" class="h-[2rem]" />
      </a>
    </div>
  </section>
</main>
