<main
  class="flex flex-col gap-2 bg-gray-200 dark:bg-gray-700 rounded-b-sm w-fit"
>
  <a href="#experience">
    <div class="p-2 w-[10rem] dark:text-white hover:bg-gray-400 cursor-pointer">
      {{ "topbar.experience" | translate }}
    </div>
  </a>
  <a href="#programm">
    <div class="p-2 w-[10rem] dark:text-white hover:bg-gray-400 cursor-pointer">
      {{ "topbar.programskill" | translate }}
      
    </div>
  </a>
  <a href="#coding-bg">
    <div class="p-2 w-[10rem] dark:text-white hover:bg-gray-400 cursor-pointer">
      {{ "topbar.abouts" | translate }}

    </div>
  </a>
  <a href="#contacts">
    <div class="p-2 w-[10rem] dark:text-white hover:bg-gray-400 cursor-pointer">
      {{ "topbar.contacts" | translate }}

    </div>
  </a>
</main>
